<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Inventory</header>
    <ul class="list-unstyled">
        <li><a href="#"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li><a href="#"><i class="fas fa-link"></i>Dashboard</a></li>
        <li><a href="#"><i class="fas fa-sliders"></i>Dashboard</a></li>
        <li><a href="#"><i class="fas fa-stream"></i>Dashboard</a></li>
    </ul>
</div>
<style>
    .sidebar{
        position: absolute;
        top: 54px;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: rgb(255, 249, 242);
        list-style-type: none;
        transition: all 0.5s;
    }
    .sidebar header{
        font-size: 22px;
        color: white;
        text-align: center;
        line-height: 70px;
        background: #063146;
    }
    .sidebar ul a{
        display: absolute;
        height: 100%;
        width: 90%;
        line-height: 65px;
        font-size: 20px;
        color: black;
        box-sizing: border-box;
        border-bottom: 0.5px solid black;
        text-decoration: none;
        margin: 4px;
        transition: all 0.5s;
    }
    ul li:hover a{
        padding-left: 40px;
    }
    #check{
        display: none;
    }
    label #btn,label #cancel{
        position: absolute;
        cursor: pointer;
        background: pink;
        border-radius: 20px;
    }
    label #btn{
        left: 10px;
        top: 80px;
        color: yellow;
        font-size: 35px;
        padding: 6px 12px;
    }
    label #cancel{
        z-index: 1111;
        left: 195px;
        top: 60px;
        font-size: 30px;
        color: blue;
        padding: 4px 9px;
    }
    #check:checked ~ .sidebar{
        left: -400px;
        transition: all 1s;
    }
    #check:checked ~  label #cancel{
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }
</style>